.App{
  background-color: aliceblue;
  height: 650px;
}

.container{
  text-align: center;
}

.task-input{
  text-align: center;
  width:900px;
  height: 60px;
  margin: 40px auto 20px auto;
  border-style: solid;
}

.input{
  width:850px;
}

.input-button{
  width: 850px;
  background-color: aquamarine;
  /* margin: 10px; */

}

.funcs{
  text-align: center;
  height: 80px;
  margin: 110px 100px 110px 100px;
}

.list-item{
  display: flex;
  margin: 10px 400px;
  padding: 5px;  
  border: 1px solid #ccc;
  background-color: blue;
  border-radius: 5px;
  padding: 5px;
  height: 20px;  
}
/* 
.task-input{
  text-align: center;
} */

/* .button-complete,
.buton-delete,
.button-edit {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 28px;
  border-radius: 50%;
} */

.button-complete{
  color: #ff6c6c;
  margin-right: 10px;
  margin-left: 10px;
}

.button-edit{
  color: #e2d029;
  margin-right: 10px;
}

.button-delete{
  color: lightseagreen;
}

.all{
  margin-right: 100px;
  margin-left: 250px;
  width: 200px;
  background-color: rgba(255, 0, 0, 0.418);
}

.done{
  margin-right: 100px;
  margin-top: 80px;
  width: 200px;
  background-color: rgba(255, 0, 0, 0.418);
  
  /* margin-right: 50px;
  /* width: 250px; 
  background-color: rgba(255, 0, 0, 0.418); */
}

.to{
  margin-left: 20px;
  width: 200px;
  background-color: rgba(255, 0, 0, 0.418);
}









/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/